<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments/general.html::head"></th:block>
<title>Pityubak's first Spring Boot Project</title>
</head>
<body>
	<!-- Header -->
	<div class="container ">
		<header th:replace="fragments/general.html::header"></header>
		<div class="main">
			<h2 class="text-center">Lorem ipsum...</h2>
			<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
				aliquet fermentum facilisis. Mauris et nisi et nisi fringilla
				faucibus. Praesent et euismod lectus. Sed maximus lorem quis magna
				varius, quis finibus neque posuere. Nulla eget ex vitae est pulvinar
				suscipit non at mi. Praesent et turpis nibh. Lorem ipsum dolor sit
				amet, consectetur adipiscing elit. Pellentesque porttitor augue est,
				vitae sagittis risus mattis in. Vestibulum sed urna at ligula mollis
				tempus et sagittis leo. Mauris aliquet, mauris ac finibus interdum,
				lacus nisi blandit sapien, sit amet auctor enim erat id sapien. In
				massa ipsum, pulvinar eget felis id, sagittis fermentum lorem.
				Aliquam tincidunt orci ex, porttitor elementum velit porttitor ac.
				Donec id elit pharetra, tempus massa sed, dignissim purus. Aliquam
				ut blandit risus, id dapibus turpis. Quisque placerat sagittis
				lacus, a suscipit nisi dictum in. Mauris consectetur auctor
				pellentesque. Fusce tempor risus ut sem rutrum semper. Suspendisse
				potenti. Pellentesque a turpis sit amet ligula vehicula efficitur id
				ut dui. In in ligula massa. Mauris consequat urna nec dui maximus,
				quis rutrum ante dictum. Vestibulum interdum malesuada dui, id
				ornare purus fermentum vel. Nam turpis velit, convallis aliquam
				ultrices quis, pretium a justo. Duis finibus faucibus ipsum ac
				facilisis. Mauris eu purus vitae elit scelerisque euismod. Aliquam
				eleifend sit amet nibh egestas laoreet. Nunc condimentum ornare
				velit, eget cursus ante placerat eu. Praesent sit amet tempor eros.
				Nullam tincidunt tortor at erat egestas convallis. Nam eu vestibulum
				sapien. Quisque pulvinar turpis dui, quis elementum lorem convallis
				quis. Pellentesque dictum pretium tortor posuere vehicula. Aliquam
				malesuada id nibh ut dictum. Fusce eu facilisis velit. Nunc
				consectetur fringilla purus, ac lacinia odio tristique sit amet.
				Suspendisse sit amet enim quis odio bibendum venenatis eget at
				magna. Maecenas vestibulum, lorem non suscipit consequat, lectus
				justo blandit magna, ac imperdiet nisi risus a eros. Nulla ultricies
				congue malesuada. Pellentesque habitant morbi tristique senectus et
				netus et malesuada fames ac turpis egestas. Fusce eget arcu ultrices
				ex suscipit luctus. Suspendisse potenti. Curabitur in feugiat magna.
				Nullam varius ligula non mauris mollis, commodo aliquet turpis
				lacinia. Etiam molestie, lorem sed consectetur sodales, mi tellus
				volutpat nibh, et efficitur eros lectus ut elit. Morbi blandit augue
				ac arcu tincidunt, eget varius est convallis. Aenean faucibus dolor
				ex, placerat laoreet elit euismod sit amet. Suspendisse at faucibus
				nibh. Praesent congue sed dolor congue sodales. Nulla facilisi.
				Integer sed felis sit amet nunc hendrerit bibendum vel vel tellus.</article>
			<hr />

		</div>
		<footer th:replace="fragments/general.html::footer"></footer>
	</div>
</body>
</html>